/*======= IMPORTS =======*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*======= GLOBAL VARIABLES =======*/

:root {
    --main-bg-color: #e6e6e6;
    --main-font-color: #000000;
    --header-basic-color: #ebebeb;
    --nav-basic-color: #ebebeb;
    --nav-hover-color: #e5e7e7;
    --nav-active-color: #e5e7e7;
    --main-color-text: #000000;
    --nav-button-transition-time: 400ms;
    --nav-hovered-text-color:#61930b;
}

/*======= STYLES =======*/



* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-style: normal;
	list-style: none;
}

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	overflow: hidden;
	background-color: var(--main-bg-color);
	color: var(--main-font-color);
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
}

p {
	text-align: justify;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-width: 100%;
	min-height: 10%;
	background-color: var(--header-basic-color);
}

#logo-container {
	display: flex;
	align-items: center;
}

#logo {
	height: 90%;
	position: relative;
	left: 10px;
}

#content {
	position: relative;
	overflow-y: scroll;
}

footer {
	min-width: 100%;
	padding: 1%;
	background-color: #808080;
}

svg {
	max-height: 200px;
	display: block;
	margin: auto;
}

#nav {
	display: flex;
	flex-direction: row;
	background-color: var(--nav-basic-color);
}

#nav a {
	flex-grow: 1;
	display: flex;
	height: 100%;
	width: 100%;
	font-weight: bold;
}

#nav a:link, #nav a:visited {
	text-decoration: none;
	color: var(--main-color-text);
}

#nav a.internal-link:hover {
	color: var(--nav-hovered-text-color);
	transition: color var(--nav-button-transition-time);
}

#nav a.internal-link:active {
	transition: color 0s;
	color: var(--nav-hovered-text-color);
}

.nav-button {
	flex-grow: 1;
	width: 100%;
	min-width: 110px;
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.internal-link > .nav-button:hover {
	transition: background-color var(--nav-button-transition-time);
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#content > div {
	padding: 0 5%;
}

div h1 {
	text-align: left;
	margin-bottom: 1%;
}

div h3 {
	text-align: center;
}

#services ul {
	display: flex;
}

#services li {
	justify-content: center;
	margin-bottom: 10px;
}

footer {
	text-align: center;
}

@media (max-width: 720px) {
	body {
		background-color: #808080;
	}

	#nav {
		display: block;
		width: 100%;
	}

	.internal-link > div {
		background-color: var(--nav-basic-color);
	}

	.internal-link div {
		display: none;
	}

	#nav:hover > .internal-link div {
		display: flex;
		z-index: 1;
	}

	.menu-button div {
		text-align: right;
		padding-right: 5%;
	}

	#services ul{
		flex-direction: column;
	}

	#services li{
		width: 95%;
	}
}

@media (min-width: 721px) {
	body {
		background-color: aqua;
	}

	.menu-button > div {
		display: none;
	}
	
#services ul {
	justify-content: space-between
}

	#services li{
		width: 22.5%;
	}
}
